<!DOCTYPE html>
<html data-layout-decorator="fragments/scorpios-layout">
<head>
	<title data-layout-title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Billing</title>	
</head>
<body>
<!-- Start content -->
<div class="content" data-layout-fragment="content">
<!-- Start Container -->
	<div class="container">
		<!-- bread crumb Row: Across entire content area -->
		<div class="row">
			<div class="col-xs-12">
				<div class="page-title-box">
                	<h4 class="page-title">Billing</h4>
			        <ol class="breadcrumb p-0">
						<li><a href="#">Home</a></li>
						<li><a href="#">Document</a></li>
						<li class="active">Billing</li>
				  	</ol>
                    <div class="clearfix"></div>
		    	</div>
	     	</div>
    	</div>
   	 	<div class="card-box">
        	<form action="#">
				<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
	    					<div class="row form-group">
	        					<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
	             					<label class="pull-right" for="BarcodeFmsEinVendor">BD #:</label>
	        					</div>
			        			<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
			           				<input type="text" ng-model="contact.department" id="BarcodeFmsEmpName"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:250px;"/>
			            		</div>
	    					</div>	
						</div>	
						<div class="col-xs-12 col-sm-5 col-lg-5 col-md-5">
	    					<div class="row form-group">
	        					<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
	             					
	        					</div>
			        			<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
			           				<button id="barcodeTravelretrieve" type="button" class="btn btn-primary barcodeTravelsearch_retrive"><i class="fa fa-search"></i> Search</button>
			            		</div>
	    					</div>	
						</div>	
					</div>
				</div>
			</form>
		</div>
    	<div class="card-box">
    		<ul class="nav nav-tabs m-b-10" id="billingInnerTab11" role="tablist">
        		<li class="nav-item"><a class="nav-link active" id="header_Detail_tab1"
                            data-toggle="tab" href="#HeaderDetail1" role="tab"
                            aria-controls="profile">Header</a>
        	</li>
        	<li class="nav-item"><a class="nav-link" id="vendor_Detail_tab1"
            	data-toggle="tab" href="#vendorDetail1" role="tab"
            	aria-controls="profile">Vendor</a>
        	</li>             
   		</ul>
        <div class="tab-content" id="billingInnerTab11">
			<div role="tabpanel" class="tab-pane fade in active" id="HeaderDetail1" aria-labelledby="header_Detail_tab1">				
            	<form action="#">
					<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
	  							<div class="row form-group">
	      							<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
	           							<label class="pull-right" for="billingHeaderVendorName">Vendor Name:</label>
	      							</div>
	        						<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
	           							<input type="text" value="BOXELL PHILIO R. JR." readonly="true" id="billingHeaderVendorName"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:250px;"/>
	            					</div>
  								</div>	
							</div>
							<div class="col-xs-12 col-sm-5 col-lg-5 col-md-5">
					    		<div class="row form-group">
					        		<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
					             		<label class="pull-right" for="billingHeaderDocument">Document $:</label>
					        		</div>
							        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
							            <input type="text" readonly="true" id="billingHeaderDocument" value="42,983.29"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"  style="width:250px;"/>
									</div>
					    		</div>	
							</div>
							<div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
					    		<div class="row form-group">
					        		<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
					             		<label class="pull-right" for="billingHeaderCollectedDueDate">Collected Due Date:</label>
					        		</div>
							        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
							            <input type="text" value="12/24/1998" readonly="true" id="billingHeaderCollectedDueDate"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"  style="width:250px;"/>
									</div>
					    		</div>	
							</div>
							<div class="col-xs-12 col-sm-5 col-lg-5 col-md-5">
					    		<div class="row form-group">
					        		<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
					             		<label class="pull-right" for="billingHeaderCollected">Collected:</label>
					        		</div>
							        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
							            <input type="text" value="42,983.29" readonly="true" id="billingHeaderCollected"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:250px;"/>
									</div>
					    		</div>	
							</div>
							<div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
					    		<div class="row form-group">
					        		<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
					             		<label class="pull-right" for="billingHeaderClosedDate">Closed Date #:</label>
					        		</div>
							        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
							            <input type="text" value="12/24/1998" readonly="true" id="billingHeaderClosedDate"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"  style="width:250px;"/>
									</div>
					    		</div>	
							</div>
							<div class="col-xs-12 col-sm-5 col-lg-5 col-md-5">
					    		<div class="row form-group">
					        		<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
					             		<label class="pull-right" for="billingHeaderWriteoff">Writeoff $:</label>
					        		</div>
							        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
							            <input type="text" value="0.00" readonly="true" id="billingHeaderWriteoff"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:250px;"/>
									</div>
					    		</div>	
							</div>
						</div>
					</div>
				</form>	
		    </div>
		    <div class="tab-pane fade" id="vendorDetail1" role="tabpanel" aria-labelledby="vendor_Detail_tab1">
            	<form action="#">
				<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
 							<div class="row form-group">
     							<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
          							<label class="pull-right" for="billingVendorVendorCode">Vendor Code #:</label>
     							</div>
        						<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
									<input type="text" value="MISCO1" readonly="true" id="billingVendorVendorCode"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:250px;"/>											           
            					</div>
							</div>	
						</div>
						<div class="col-xs-12 col-sm-5 col-lg-5 col-md-5">
			    			<div class="row form-group">
			        			<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
			             			<label class="pull-right" for="billingVendorVendorName">Vendor Name:</label>
			        			</div>
					        	<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
					           		<input type="text" value="BOXELL PHILIO R. JR." readonly="true" id="billingVendorVendorName"  class="searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:250px;"/>
					            </div>
			    			</div>	
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12" style="margin-left: 118px;">
			    			<div class="row form-group">
			             			<label for="billingVendorAddress">Address:</label>
									<input type="text" value="9411, LEEHWY, SiteNo:128" readonly="true" id="billingVendorAddress"  class="pull-left searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:750px;margin-left: 18px;"/>											           
			    			</div>	
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12" style="margin-left: 148px;">
			    			<div class="row form-group">
			             			<label for="BarcodeFmsSchedule">City:</label>
									<input type="text" value="FAIRFAX" readonly="true" id="billingVendorCity"  class="pull-left searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:250px;margin-left: 18px;"/>		
									<label for="BarcodeFmsSchedule" style="margin-left: 31px;">State:</label>
									<input type="text" value="VA" readonly="true" id="billingVendorState"  class="pull-left searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:75px;margin-left: 18px;"/>											           
									<label for="BarcodeFmsSchedule" style="margin-left: 31px;">Zip:</label>
									<input type="text" value="22031" readonly="true" id="billingVendorZip"  class="pull-left searchTravelBarcodeForm form-control select2 oc_select_box_width"   style="width:100px;margin-left: 18px;"/>											           									           
			    			</div>	
						</div>
					</div>
				</div>
			</form>		
	  	</div>
	</div>
</div>
		<div class="card-box">
              	<ul class="nav nav-tabs m-b-10" id="billingInnerTab2" role="tablist">
                  	<li class="nav-item"><a class="nav-link active" id="billing_Detail_tab"
                            data-toggle="tab" href="#billingDetail" role="tab"
                            aria-controls="profile">Billing</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" id="collection_Detail_tab"
                            data-toggle="tab" href="#collectionDetail" role="tab"
                            aria-controls="profile">Collection</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" id="image_tab"
                            data-toggle="tab" href="#imageTab" role="tab"
                            aria-controls="profile">Image</a>
                      </li>
               	  </ul>
                  <div class="tab-content" id="billingInnerTab2">
						<div role="tabpanel" class="tab-pane fade in active" id="billingDetail"
						aria-labelledby="billing_Detail_tab">
						 	<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
								                  <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
								                  <button type="button" class="btn btn-primary"><i class="fa fa-remove"></i>Cancel</button>
								              </div>
							<table id="billingTable1" class="table table-striped table-bordered table-hover exportable" cellspacing="0" style="width:100%;overflow:scroll"> <!-- table-striped--> 
                          		<thead style = "color:black;background-color:lightblue">
                               		<tr>
	                                   <th>Budget FY</th>
	                                   <th>Fund</th>
	                                   <th>Org Code</th>
	                                   <th>Site Project</th>
	                                   <th>Document $</th>
	                                   <th>CRP #</th>
	                                   <th>Line #</th>
	                                   <th>TT</th>
	                                   <th>Collected $</th>
	                                   <th>Writeoff $</th>
	                               </tr>
                             	</thead>
                              	<tbody>
                              		<tr>
                               			<td>1992</td>
                                      	<td>HSCR</td>
                                      	<td>01R</td>
                                      	<td>01016</td>
                                      	<td>42983.90</td>
                                      
	                                    <td> 
	                                         <select class="form-control">
	                                            <option value="" selected="selected">31626</option>
	                                            <option value="">21884</option>
	                                         </select>
	                                    </td>
                                      	<td>001</td>
                                      	<td>33</td>
                                      	<td>42983.90</td>
                                      	<td>0.00</td>
                               		</tr>
                          		</tbody>
                       		</table>					
                          	<table id="billingTable2" class="table table-striped table-bordered table-hover exportable" cellspacing="0" style="width:100%;overflow:scroll"> <!-- table-striped--> 
                            	<thead style = "color:black;background-color:lightblue">
                                	<tr>
                                    	<th>CRP #</th>
                                      	<th>Primary Site ID</th>
                                      	<th>CRP Description</th>
                                      	<th>CRP Type</th>
                                      	<th>Date Created</th>
                                      	<th>Starting FY PP #</th>
                                      	<th>Ending FY PP</th>
                                      	<th>Schedule Date</th>
                                      	<th>Status</th>
                               		</tr>
                       			</thead>
                           		<tbody>
                                	<tr>
                                    	<td>13886</td>
                                      	<td>0101</td>
                                      	<td>All Costs</td>
                                      	<td>Standard</td>
                                      	<td>07/12/2001</td>
                                      	<td>1981 01</td>
                                      	<td>2001 21</td>
                                      	<td>10/01/1980 07/12/2001</td>
                                      	<td>Completed</td>
                               		</tr>
                              </tbody>
                          </table>					
					  </div>
					  <div class="tab-pane fade" id="collectionDetail" role="tabpanel"
						aria-labelledby="collection_Detail_tab">
							<table id="collectionTable1" class="table table-striped table-bordered table-hover exportable" cellspacing="0" style="width:100%;overflow:scroll"> <!-- table-striped--> 
                            	<thead style = "color:black;background-color:lightblue">
                                	<tr>
                                    	<th>CR/WR#</th>
                                      	<th>Line No</th>
                                      	<th>Amount $</th>
                                      	<th>Accomplished Date</th>
                                      	<th>Vendor Name</th>
                               		</tr>
                       			</thead>
                           		<tbody>
                                	<tr>
                                    	<td>1388694A</td>
                                      	<td>002</td>
                                      	<td>42,983.90</td>
                                      	<td>9/14/1992</td>
                                      	<td>PICILLO SITE #1</td>
                               		</tr>
                              </tbody>
                          </table>					
					  </div>
					  <div class="tab-pane fade" id="imageTab" role="tabpanel"
						aria-labelledby="image_tab">
						<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
								                  <button type="button" class="btn btn-primary"><i class="fa fa-view"></i>View</button>
								                  <button type="button" class="btn btn-primary"><i class="fa fa-print"></i>Scan</button>
								              <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
								                  <button type="button" class="btn btn-primary"><i class="fa fa-trash"></i>Delete</button>
								              <button type="button" class="btn btn-primary"><i class="fa fa-remove"></i>Cancel</button>
								              
								              </div>
					  	<table id="imageTable1" class="table table-striped table-bordered table-hover exportable" cellspacing="0" style="width:100%;overflow:scroll"> <!-- table-striped--> 
                            	<thead style = "color:black;background-color:lightblue">
                                	<tr>
                                    	<th>Type</th>
                                    	<th>BD#/CR#/WR#</th>
                                      	<th>IM</th>
                               		</tr>
                       			</thead>
                           		<tbody>
                                	<tr>
                                    	<td>BD</td>
                                      	<td>01292T052A</td>
                                      	<td></td>
                               		</tr>
                               		<tr>
                                    	<td>CR</td>
                                      	<td>2200194A</td>
                                      	<td></td>
                               		</tr>
                              </tbody>
                          </table>	
                          <table id="imageTable2" class="table table-striped table-bordered table-hover exportable" cellspacing="0" style="width:100%;overflow:scroll"> <!-- table-striped--> 
                            	<thead style = "color:black;background-color:lightblue">
                                	<tr>
                                    	<th>Document ID</th>
                                      	<th>Pages</th>
                                      	<th>Amount $</th>
                                      	<th>Doc Type</th>
                                      	<th>Description</th>
                               		</tr>
                       			</thead>
                           		<tbody>
                                	<tr>
                                    	<td></td>
                                      	<td></td>
                                      	<td></td>
                                      	<td></td>
                                      	<td></td>
                               		</tr>
                              </tbody>
                          </table>						
					 </div>
			     </div>
   			 </div>
		</div>
	</div>
<!-- End Content -->
</body>
</html>
