<!-- <div data-ng-include src="'view/payroll/barcodeTabs.html'"></div> -->
<div class="page-content">
<div class="col-lg-12 left-pannel">
				<!-- <div data-ng-controller="createUserMainCtrl"> -->
					<uib-tabset> <uib-tab data-ng-repeat="tab in tabs"
						heading="{{tab.title}}" active="tab.active"
						 select="tabSelected($index)" data-ng-click="selectedIndex($index,tab.title)">
						 
					<div data-ng-include src="tab.page"></div>
					</uib-tab> </uib-tabset>
				<!-- </div> -->
			</div></div>


<!-- <div class="panel panel-primary">
       <div class="panel-heading">Form validation report</div>
       <div class="panel-body">
        
         <div class="validate">
         <form name="contactForm" novalidate>
         <input ng-model="contact.name" placeholder="Enter Name" ng-required="true" ng-pattern ="/^[a-zA-Z]*$/" name="name"/>
         <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
           <small style="color: red; display: block;">Enter valid Name</small>
         </div>
       </br><input ng-pattern ="/^[0-9]*$/" ng-model="contact.id" ng-required="true" placeholder="Enter ID" name="id" minlength = "5" maxlength = "6" required/>
        <div ng-show = "contactForm.$submitted">
         <div ng-show="contactForm.$submitted.id.$touched || contactForm.id.$invalid || contactForm.id.$error.required">
           <small style="color: red; display: block;">Enter valid id</small>
         </div >
</div>
       </br><input type="submit" value="Submit" />
         </form>
         </div>
         </div>
     </div> -->