<div class="panel panel-primary">
       <div class="panel-heading">Search Student</div>
       <div class="panel-body">
        
         <div class="validate">
         <form name="contactForm" novalidate>
         <input ng-model="contact.department" placeholder="Enter Dept"  name="name"/>
         
       
        
</div>
       </br><input type="submit" value="Add" ng-click="addNewStudent(contact)"/>
         </form>
         </div>
         </div>
     </div>
     
     <div class="panel panel-primary">
     	<div class="panel-heading">Search Table Reports
       	</div>
       	<div class="panel-body">
       	<table id="datatable-buttons" class="datatable-buttons table table-striped table-bordered table-hover exportable" style="width:100%;cellspacing:0" data-ng-show = "students.length != 0"> <!-- table-striped  -->
			                        <thead style = "color:black;background-color:lightblue">
			                            <tr>
			                                <th>NAME</th>
			                                <th>JOB TITLE</th>
			                                <th>DEPARTMENT</th>
			                                <th>ANNUAL SALARY</th>
			                                <th>ESTIMATED ANNUAL SALARY</th>
			                            </tr>
			                        </thead>
		                            <tbody>
		                                <tr ng-repeat= "student in studentFmsResult | filter:search ">
		                                    <td>{{student.name}}</td>
		                                    <td><a href = "" ng-click = "goToview(student)">{{student.jobTitle}}</a></td>
		                                    <td>{{student.department}}</td>
		                                    <td>{{student.annualSalary}}</td>
		                                    <td>{{student.estimatedAnnualSalary}}</td>
                                    </tr>
		                            </tbody>
		                        </table>
		                        
       	</div>
      </div>
      
      
      
	
       
     