<!-- <!-- <h1>View tab is Filled</h1> --> 
<!-- <img ng-src = "demoPics/UploadFile.png" style = "width:200px; height:100px;"/> -->
<body>
	<p>Showing Records:{{empListWithJobTitle[0].jobTitle}}</p>
	<table id="datatable-buttons" class="datatable-buttons table table-striped table-bordered table-hover exportable" style="width:100%;cellspacing:0" > 
	    <thead style = "color:black;background-color:lightblue">
	        <tr>
	            <th>NAME</th>
	            <th>JOB TITLE</th>
	            <th>DEPARTMENT</th>
	            <th>ANNUAL SALARY</th>
	            <th>ESTIMATED ANNUAL SALARY</th>
	        </tr>
	    </thead>
       <tbody>
           <tr ng-repeat= "student in empListWithJobTitle">
               <td>{{student.name}}</td>
               <td>{{student.jobTitle}}</td>
               <td>{{student.department}}</td>
               <td>{{student.annualSalary}}</td>
               <td>{{student.estimatedAnnualSalary}}</td>
             	</tr>
       </tbody>
     </table>
</body>