<form>
<input type="text" ng-model="contract2.name">
<input type="text" ng-model="contract2.department">
<input type="text" ng-model="contract2.jobTitle">
<input type="text" ng-model="contract2.annualSalary">
<input type="text" ng-model="contract2.estimatedAnnualSalary">
<button type="submit" class= "btn btn-primary btn-sm" ng-click="editContractStudent()">Add</button>
<button type="submit" class= "btn btn-primary btn-sm" ng-click="resrtContract()">Reset</button>
<button type="submit" class= "btn btn-primary btn-sm" ng-click="goToContract()">Back</button>
</form>