<div>
	<div class="row">
		<div class="col-md-6">
		<form>
			<div class="form-group">
				<label for="firstName">First Name:</label>
				<input id="firstName" name="firstName" placeholder="First Name" class="form-control" ng-model="studentFirstName">
				<button class="btn btn-primary" ng-click="searchByName(studentFirstName)">Search</button>
			</div>
			</form>
		</div>	
	</div>
</div>

<div>
<ul ng-repeat="student in studentList">
<p>
{{student.name}}<br>
{{student.jobTitle}}<br>
{{student.department}}<br>
{{student.annualSalary}}<br>
{{student.estimatedAnnualSalary}}
</p>
</ul>
</div>

<!-- <select  ng-mouseover="getEmpByDeptContract(selectedDept)" ng-change="" ng-model="selectedDept">
<option ng-repeat="dept in deptList1" value="dept">{{dept}}</option>
</select> -->


<select ng-model="selectedDept" ng-change="getSelectedDeptdata(selectedDept)">
	<option ng-repeat="dept in deptList1">{{dept}}
	</option>
</select>