<form>
<input type="text" ng-model="addStudent.stuName" placeholder = "Enter Name">
<input type="text" ng-model="address.address1" placeholder = "Enter Address1">
<input type="text" ng-model="addStudent.stuId" placeholder = "Enter ID">
<input type="text" ng-model="address.address2" placeholder = "Enter Address2">
<input type="text" ng-model="address.city" placeholder = "Enter City">
<input type="text" ng-model="address.zip" placeholder = "Enter Zip">
<input type="text" ng-model="address.state" placeholder = "Enter State">
<button type="submit" ng-click="addHomeStudent()">Add</button>
</form>