<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form>
	<input type= "text" ng-model = "editStudent.stuId">
	<input type= "text" ng-model = "address.address1">
	<input type= "text" ng-model = "address.address2">
	<input type= "text" ng-model = "editStudent.stuName">
	<button type="submit" class="btn btn-primary btn-sm" ng-click = "reset()">Reset</button>
	<button type="submit" class="btn btn-primary btn-sm" ng-click="updateSubmit()">Submit</button>
	
</form>
</body>
</html>


<!-- ng-model="addStu.stuName" -->
<!-- ng-model="address.address1" -->
<!-- ng-model="address.address2" -->

<!-- $scope.addStu ={}; -->

<!-- $scope.save = function(){ -->

<!-- $scope.addStu.address = $scope.address; -->

<!-- $scope.addStu.deparment = $scope.department; -->

<!-- mysercvice.addStudent($scope.addStu,fun) -->

<!-- } -->

<!-- delete * from stu,delete where stu.id = add.id; -->







