<!-- <form> -->
<!--   <input type="text" class="form-control" id="id" placeholder="Enter ID" ng-model="search.stuId" uib-typeahead = "titles.stuName for titles in namesList | filter:$viewValue"/> -->
<!--   <input    ui-mask="999-999-9999" -->
<!--                placeholder="xxx-xxx-xxxx" ng-model="phonenumber"></input> -->
 
  
<!--   <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" ng-model="search.stuName" ></input> -->
<!--   <button type="submit" class="btn btn-primary" ng-click="SearchSubmit()">Search</button> -->
<!-- </form> -->

<!-- <form> -->
<!--   <input type="text" class="form-control" id="id" placeholder="Enter ID to Search" ng-model="search.stuId"/> -->
<!--   <button type="submit" class="btn btn-primary" ng-click="SearchSubmit()">Search</button> -->
<!-- </form> -->
<!-- <buton type="submit" href="/homeAdd">Add</buton> -->
<!-- <button class= "btn btn-primary btn-sm" type="submit" ><a href="#/homeAdd">Add</a></button>
<form>
<input type="text"  id="id" placeholder="Enter ID" ng-model="search.stuId"/>
<button type="submit"  ng-click="searchSubmit()">Search</button>
</form> -->
<!-- <label>Searched Data</label> -->
<!--   <select> -->
<!--   <option ng-repeat = "county in countyList">{{county.stuName}}</option> -->
<!--   </select> -->
<!-- <table id="datatable-buttons" class="datatable-buttons table table-striped table-bordered table-hover exportable">			                       
 <thead style = "color:black;background-color:lightblue">
			                            <tr>
			                            	<th>Id</th>
			                                <th>Name</th>
			                                <th>Address1</th>
			                                <th>Address2</th>
			                                <th>Actions</th>
			                            </tr>
			                        </thead>
		                            <tbody>
		                                <tr ng-repeat= "student in students">
		                                	 <td>{{student.stuId}}</td>
 		                                    <td>{{student.stuName}}</td>  
 		                                    <td>{{student.address.address1}}</td> 
 		                                    <td>{{student.address.address2}}</td> 
 		                                    <td>
 		                                    <button type="submit" ng-click="updateStudent(student)">Edit</button>
 		                                    </td>
                                    </tr>
		                            </tbody>
		                        </table>
		                        
		                        <label>Searched Data</label>
		                        <select>
		                        <option ng-repeat = "student in students">{{student.stuId}}</option>
		                        </select>
		                        
		                        <input type="file"/>
		                        <button type="file">Choose File</button>
		                        	                        
		                        <p>{{myDetails.base}}</p>
		                          <p>{{myDetails.name}}</p>  
		                          <p>{{myDetails.sys.country}}</p>
		                            <p>{{myDetails.main.temp}}</p>
		                         -->
		                         
		                         
		                         
		                         
		                         
		                         
		                         
		                         <h3>My Sample Project Home Page</h3>
		                         <p>Implemented Crud functionalities Using Angular 1.x, Restful API and My-Batis as a Persistant Layer</p>