<div class="content">
  
   <div class="panel panel-default">
      <div class="panel-heading">Panel with panel-primary class</div>
      <div class="panel-body">Panel Content</div>
    </div>
  
  
  
  <form name="contactForm" ng-submit="addData()">
    <input  class="group-control" type="text" name="" placeholder="Enter Name" ng-model="newData.name" style="margin-left: 20px" my-dir/>
    <input  class="form-control" type="text" name="" placeholder="Enter ID" ng-model="newData.id"/>
    <input  class="form-control" type="text" name="" placeholder="Enter Salary" ng-model="newData.sal"/>
    <input type="button" class="btn btn-primary" name="NewButton2" ng-click="addData()" value="Add"/>
  </form>
</div>
<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
  <div class="form-group">
    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
      <input type="button"  class="btn btn-primary" name="NewButton1" ng-click="order='name'" value="Order By Name" style="margin-left: 20px" />
    </div>
    <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
      <input type="button" class="btn btn-primary" name="NewButton2" ng-click="order='sal'" value="Order By Sal" style="margin-left: 20px" />
    </div>
    <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
      <input  class="form-control" type="text" name="" placeholder="Search for table Data" ng-model="search" style="margin-left: 20px"/>
    </div>
 </div>
</div>
<div id='wrapper'>
  <table id="datatable-buttons-modal6" class="datatable-buttons table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="margin-top: 20px;margin-left:20px;margin-right:20px;">
    <thead style = "color:black;background-color:lightblue">
      <tr>
        <th>Name  <span class="table-up glyphicon glyphicon-arrow-up" ng-click="order='name'"></span> <span class="table-up glyphicon glyphicon-arrow-down" ng-click="order='-name'"></span></th>
        <th>ID</th>
        <th>Sal</th>
        <th>Button</th>
        <th>ID</th>
        <th>Sal</th>
        <th>Button</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="details in myDetails | orderBy: order | filter:search">
        <td contenteditable="true">{{details.name}}</td>
        <td contenteditable="true">{{details.id}}</td>
        <td contenteditable="true">{{details.sal | currency}}</td>
        <td><button class="btn btn-primary" ng-click="removeRow($index)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>
  <input type="button" class="btn btn-primary" name="NewButton" ng-click="save()" value="Submit" style="margin-left: 20px" />
  <input type="button" class="btn btn-primary" name="NewButton" ng-click="addnewRow()" value="NewRow" style="margin-left: 20px" />
</div>
